* { box-sizing: border-box; }
body {
	margin: 0;
	padding: 0;
	background: rgb(51, 67, 158);
	font-family: "Hanken Grotesk", sans-serif;
}
#contenedor {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}